header{

    &__logo{
        width: 10px;
    }

    &__nav{
        display: flex;
    }

    &__nav-item{
        margin-right: 20px;
    }

    .header__logo {
       width: 150px;
       height: 150px;
       object-fit: contain; 
    }
             
    }
